#nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}
.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}
